<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
        <h5 class="text-white h4">Catégorie <i class="fas fa-align-justify"></i></h5>
        <a href="" class="nav-link text-white fs-5">Les derniers projets</a><br>
        <a href="" class="nav-link text-white fs-5">Les projets clients</a><br>
        <a href="" class="nav-link text-white fs-5">Les sides-projets</a><br>
        <h5 class="text-white h4">Admin <i class="fas fa-user-lock"></i></h5>
        <a href="" class="nav-link text-white fs-5">4dm1n</a><br>
    </div>
</div>
</body>
</html>
