<div class="col-md-12">
    <div class="text-center">
        <p class="text-white fs-2 m-3">Enzo Bourgoin</p>
        <p class="text-white fs-2 m-3">Développeur-Web FullStack</p>
    </div>
    <div class="line d-flex text-center mx-5"></div>
    <div class="text-center">
        <h3 class="text-center text-white mt-4">Compétences <i class="fas fa-fire"></i></h3>
    </div>
    <div class="d-flex justify-content-evenly">
        <div class="mt-5">
        <p>
            <a class="text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                <i class="fas fa-heartbeat fs-1"></i>
            </a>
        </p>
        <div style="min-height: 30px;">
            <div class="collapse collapse-horizontal" id="collapseWidthExample">
                <div class="card card-body" style="width: 300px;">
                    <p class="text-white text-center">
                        <br>Développeur depuis 1 an mainteant, le code me passionne. <br>
                        J'ai choisi d'être développeur car depuis petit, l'informatique et les jeux vidéos m'intéresse fortement.
                        <br>J'aime le code car j'ai de grandes capacités creative et imaginative, et j'adore <br>
                        passer du temps derrière mon pc à trouver une solution à mon problème.</p>
                </div>
            </div>
        </div>
        </div>
        <div class="mt-5">
            <p>
                <a class="text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                    <i class="fas fa-box-open fs-1"></i>
                </a>
            </p>
            <div style="min-height: 30px;">
                <div class="collapse collapse-horizontal" id="collapseWidthExample">
                    <div class="card card-body" style="width: 300px;">
                        <p class="text-white text-center">
                            <br>J'ai commencé le code par une formation à la Wild Code School. <br>
                            Cette formation à été trés enrichissante et m'a appris énormément de choses. <br>
                            J'ai su construire un esprit d'équipe, et une forte communication à travers nos différents projets,
                            <br> présentés ci-dessous.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <p>
                <a class="text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                    <i class="fas fa-graduation-cap fs-1"></i>
                </a>
            </p>
            <div style="min-height: 30px;">
                <div class="collapse collapse-horizontal" id="collapseWidthExample">
                    <div class="card card-body" style="width: 300px;">
                        <p class="text-white text-center">
                            <br>J'ai commencé le code par une formation à la Wild Code School. <br>
                            Cette formation à été trés enrichissante et m'a appris énormément de choses. <br>
                            J'ai su construire un esprit d'équipe, et une forte communication à travers nos différents projets,
                            <br> présentés ci-dessous.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
